@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');

header {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  flex-grow:
}

body h2 {
  font-family: 'Overpass', sans-serif;
}
