@font-face {
    font-family: 'Playfair Display';
    src: url('/css/PlayfairDisplay-Regular.ttf');
}

header h1{
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
.photo {
  font-size: 10.5vw;
  }
}

.format {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
}

.column img {
  vertical-align: middle;
  width: 100%;
  padding: 20px;
}

/*4 columns*/
.column {
  flex: 25%;
  max-width: 25%;
}

/*3 columns*/
@media screen and (max-width: 1200px) {
  .column {
    flex: 33%;
    max-width: 33%;
  }
}

/*2 columns*/
@media screen and (max-width: 900px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/*1 column*/
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
}
