.drd-banner-row {
  display: flex;
  justify-content: left;
  gap: 23rem;
  width: 100vw;
  /* border: 1px solid red; */
}

.drd-banner-stack {
  position: relative;
  display: inline-block;
  /* border: 1px solid aqua; */
}

.drd-banner-stack p {
  font-size: 8rem;
  letter-spacing: -0.1em;
  font-weight: 700;
  position: absolute;
  /* white-space: nowrap;
  color: transparent; */
}

@media screen and (max-width: 768px) { /* mobile */
  /* .drd-banner-row{ gap: 11.5rem;}
  .drd-banner-stack p{ font-size: 4rem;} */
  .drd-banner-row{ gap: 17.5rem;}
  .drd-banner-stack p{ font-size: 6rem;}
}

/* .blu {-webkit-text-stroke: 0.04em  blue;}
.red {-webkit-text-stroke: 0.02em   red;}
.wht {-webkit-text-stroke: 0.01em white;} */

.blu {color:  blue;}
.red {color:   red;}
.wht {color: white;}

.top { top:-0.5em; left:-1.55em;}
.mid { top: 0.0em; left:-1.00em;}
.bot { top: 0.5em; left:-0.45em;}