/* Inter */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* extra fonts */
@font-face {
    font-family: 'Playfair Display';
    src: url('/styles/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: 'Overpass';
    src: url('/styles/fonts/Overpass-Thin.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/styles/fonts/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Alex Brush'; /* Dorado */
  src: url('/styles/fonts/AlexBrush-Regular.ttf');
}
@font-face {
  font-family: 'Cylburn'; /* Edwin George */
  src: url('/styles/fonts/Cylburn.ttf');
}
@font-face {
  font-family: 'Limelight'; /* DORADO */
  src: url('/styles/fonts/Limelight-Regular.ttf');
}
@font-face {
  font-family: 'Outward'; /* Edwin George */
  src: url('/styles/fonts/outward-round.ttf');
}
@font-face {
  font-family: 'Plaster'; /* DORADO */
  src: url('/styles/fonts/Plaster-Regular.ttf');
}
@font-face {
  font-family: 'Relieve'; /* Dorado */
  src: url('/styles/fonts/Relieve.ttf');
}
@font-face {
  font-family: 'Sail'; /* Dorado */
  src: url('/styles/fonts/Sail-Regular.otf');
}
@font-face {
  font-family: 'Kaushan Script';
  src: url('/styles/fonts/KaushanScript-Regular.ttf');
}
@font-face {
  font-family: 'Kalam';
  src: url('/styles/fonts/Kalam-Variable.ttf');
}
@font-face {
  font-family:'Bebas Neue';
  src: url('/styles/fonts/BebasNeue-Regular.ttf');
}
@font-face {
  font-family:'Anton';
  src: url('/styles/fonts/Anton-Regular.ttf');
}
@font-face {
  font-family:'Monument Extended';
  src: url('/styles/fonts/MonumentExtended-Regular.otf');
}
@font-face {
  font-family:'Monument Extended Ultrabold';
  src: url('/styles/fonts/MonumentExtended-Ultrabold.otf');
}
@font-face {
  font-family:'Melodrama';
  src: url('/styles/fonts/Melodrama-Variable.ttf');
}
@font-face {
  font-family:'Melodrama-Medium';
  src: url('/styles/fonts/Melodrama-Medium.otf');
}
@font-face {
  font-family:'Against';
  src: url('/styles/fonts/Against-Regular.otf');
}
@font-face {
  font-family:'Cfour';
  src: url('/styles/fonts/Cfour.otf');
}
@font-face {
  font-family:'Heroeau Elegant';
  src: url('/styles/fonts/Heroeau-Elegant.otf');
}
@font-face {
  font-family:'Slagless';
  src: url('/styles/fonts/Slagless.otf');
}
@font-face {
  font-family:'Gyahegi';
  src: url('/styles/fonts/Gyahegi.otf');
}

::-webkit-scrollbar { display: none; }

/* 
- OTF - 
melodrama-medium
monument
against
cfour
heroeau
slagless
Gyahegi
sail
*/

::selection {
  background-color: yellow;
  color: green;
}

.noscroll{
  overflow-y: hidden;
}

body {
  background-color: black !important;
  color: white !important;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Overpass', sans-serif; */
  justify-content: flex-start;
  align-items:center;
  text-align: center;
  /* width: 100%; */ /*x-scroll issue? */
  /* margin: 0;*/ /* maybe? */
}

body p { 
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: -0.03em;
}

body h2{ 
  font-size: 7rem;
  font-weight: 200;
}

/* where?? */
/* body */
/* messing up in 3D-scroll 
.card3D img, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 70%;
}
@media screen and (max-width: 1200px) {
  .card3D img, video {
    max-width: 80%;
  }
} 
/* update size
@media screen and (max-width: 900px) {
  .card3D img, video {
    max-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .card3D img, body video {
    max-width: 100%;
  }
} */
