/* custom fonts */
@font-face {
    font-family: 'Playfair Display';
    src: url('/styles/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: 'Overpass';
    src: url('/styles/fonts/Overpass-Thin.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  /* Dorado */
  src: url('/styles/fonts/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Alex Brush'; /* Dorado */
  src: url('/styles/fonts/AlexBrush-Regular.ttf');
}
@font-face {
  font-family: 'Cylburn'; /* Edwin George */
  src: url('/styles/fonts/Cylburn.ttf');
}
@font-face {
  font-family: 'Limelight'; /* DORADO */
  src: url('/styles/fonts/Limelight-Regular.ttf');
}
@font-face {
  font-family: 'Outward'; /* Edwin George */
  src: url('/styles/fonts/outward-round.ttf');
}
@font-face {
  font-family: 'Plaster'; /* DORADO */
  src: url('/styles/fonts/Plaster-Regular.ttf');
}
@font-face {
  font-family: 'Relieve'; /* Dorado */
  src: url('/styles/fonts/Relieve.ttf');
}
@font-face {
  font-family: 'Sail'; /* Dorado */
  src: url('/styles/fonts/Sail-Regular.otf');
}
@font-face {
  font-family: 'Kaushan Script';
  src: url('/styles/fonts/KaushanScript-Regular.ttf');
}


/* auto theme */
:root {
  --theme-light: #fff;
  --theme-dark: #000;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--theme-light) !important;
    color: var(--theme-dark) !important;
    --themeColor: var(--theme-light);
    --notThemeColor: var(--theme-dark);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--theme-dark) !important;
    color: var(--theme-light) !important;
    --themeColor: var(--theme-dark);
    --notThemeColor: var(--theme-light);
  }
}


/* title */
header h1{
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* small title */
@media screen and (max-width: 600px) {
.small-title {
  font-size: 10.5vw;
  padding-top: 18px;
  padding-bottom: 18px;
  }
}



/* general format */
.format {
  font-family: 'Overpass', serif;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .format{
    font-size: 1.5rem;
  }
}


/* body */
.card3D img, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 70%;
}
@media screen and (max-width: 1200px) {
  .card3D img, video {
    max-width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .card3D img, video {
    max-width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .card3D img, body video {
    max-width: 100%;
  }
}


/* responsive gallery */

/* photography */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
}

.column img {
  vertical-align: middle;
  width: 100%;
  padding: 20px;
}

/*4 columns*/
/* .column {
  flex: 25%;
  max-width: 25%;
} */

/*3 columns*/
/* @media screen and (max-width: 1200px) { */
  .column {
    flex: 33%;
    max-width: 33%;
  }
/* } */

/*2 columns*/
@media screen and (max-width: 900px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/*1 column*/
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
}

/* 3D */

.row2 {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
}

.column2 img {
  vertical-align: middle;
  width: 100%;
  padding: 5px;
}

.column2 #space{
  padding: 20px;
}

/*2 columns*/
.column2 {
  flex: 50%;
  max-width: 50%;
}

/*1 column*/
@media screen and (max-width: 600px) {
  .column2 {
    flex: 100%;
    max-width: 100%;
  }

  .row2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
}