.photograph {
    width: 40.5vh;
    height: 64.5vh;
    background-color: var(--notThemeColor);
    margin-top: -64.5vh;
    /* Keeps in flow */
    position: relative;
    transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
    /* Fast start, slow end */
    color: var(--themeColor);
    display: flex;
    align-items: flex-start;
    filter: drop-shadow(-1vh 0 0.3vh rgba(0, 0, 0, 0.5));
}

.photograph img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 12%;
    left: 10%;
}

.photograph3        {z-index: 1; transform: translateX(-80vw) rotate(0deg);}
.photograph2        {z-index: 2; transform: translateX(-80vw) rotate(0deg);}
.photograph1        {z-index: 3; transform: translateX(-80vw) rotate(0deg);}

.photograph3.active {transform: translateX(-30vw) rotate( 2deg);}
.photograph2.active {transform: translateX(-22vw) rotate(-7deg);}
.photograph1.active {transform: translateX(-15vw) rotate( 5deg);}

@media screen and (max-width: 600px) {

    .photograph3        {z-index: 1; transform: translateX(-120vw) rotate(0deg);}
    .photograph2        {z-index: 2; transform: translateX(-120vw) rotate(0deg);}
    .photograph1        {z-index: 3; transform: translateX(-120vw) rotate(0deg);}

    .photograph3.active {transform: translateX(-10vw) rotate( 2deg);}
    .photograph2.active {transform: translateX( -5vw) rotate(-7deg);}
    .photograph1.active {transform: translateX(  0vw) rotate( 5deg);}

}

.photography-container {
    display: flex;
    flex-direction: row;
    /* Side by side by default */
    gap: 4vw;
    padding: 4vw;
    margin-top: -64.5vh;
    /* Optional spacing */
    opacity: 0;
    transform: translateY(10vh);
    transition: opacity 1s ease, transform 1s ease;
}

.photography-container.active {
    opacity: 1;
    transform: translateY(0);
}

.photography-box {
    flex: 1;
    /* Makes both elements take equal space */
    padding: 2vw;
    /* background-color: dimgray; */
    text-align: center;
}

@media (max-width: 600px) {
    .photography-container {
        flex-direction: column;
        margin-top: 5vh;
    }
}