.photography-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 4vw;
    padding: 4vw;
}

.photography-left {
    /* background: aqua; */
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
}

.photography-item {
    padding: 2vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photography-right {
    /* background: lightgray; */
    padding: 0vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photograph {
    width: 40.5svh;
    height: 64.5svh;
    /* margin-top: -64.5svh; */
    position: relative;
    display: flex;
    align-items: flex-start;
    filter: drop-shadow(-1svh 0 0.3svh rgba(0, 0, 0, 0.5));
}

.photograph img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 12%;
    left: 10%;
}

#photograph-3 {z-index: 1; transform: translateX(-60vw);}
#photograph-2 {z-index: 2; transform: translateX(-60vw);}
#photograph-1 {z-index: 3; transform: translateX(-60vw);}

#photography-title{
    text-align: left;
    letter-spacing: -0.1em;
    font-weight: 400;
    font-size: 10svh;
}
#photography-text { text-align: justify; }

@media screen and (max-width: 768px) { /* mobile */
    .photography-container {grid-template-columns: 1fr;}
    .photography-left{grid-template-columns: repeat(3, minmax(0, 1fr)); }
    #photograph-3 { z-index: 1; transform: translateX(-180vw); }
    #photograph-2 { z-index: 2; transform: translateX(-180vw); }
    #photograph-1 { z-index: 3; transform: translateX(-180vw); }
    #photography-arrow { stroke-width: 0.04em;}
    #photography-title { text-align: center; font-size: 7svh;} /*or 6svh*/
    #photography-text { text-align: center;}
}