.underline {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5vh;
    cursor: pointer;
}

.underline::after {
    content: "";
    position: absolute;
    left: 7vh;
    bottom: 3vh;
    /* Adjusted for visibility */
    width: 0;
    /* Start with 0 width */
    height: 0.5vh;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
}

.underline:hover::after,
.underline:focus::after {
    width: 62%;
}