.underline {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-flex;
    align-items:start;
    gap: 0.5rem;
    cursor: pointer;
    --underline-left: 0;
    --underline-bottom: 2rem;
    --underline-width: 80%;
}

.underline::after {
    content: "";
    position: absolute;
    left: var(--underline-left);
    bottom: var(--underline-bottom);
    /* Adjusted for visibility */
    width: 0;
    /* Start with 0 width */
    height: 0.25rem;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
}

@media (hover: hover) {
    .underline:hover::after { width: var(--underline-width);}
}